streamlit==1.29.0
earthengine-api==1.5.7
geemap==0.25.1
streamlit-folium==0.14.0
folium==0.14.0
pandas==1.5.3
numpy==1.23.5
geopandas==0.12.2
matplotlib==3.7.1
setuptools
beautifulsoup4
pydrive2
requests
